spring:

  application:
    name: stock

  kafka:
    consumer:
      group-id: stock-${random.uuid}
      auto-offset-reset: earliest
    #bootstrap-servers: "broker:29092"

server:
  port: 8078

management:
  endpoint:
    health:
      show-details: always

  endpoints:
    web:
      exposure:
        include: "*"
    prometheus:
      enabled: true

